<!-- https://our.umbraco.org/documentation/reference/events/application-startup -->
<!-- https://our.umbraco.org/documentation/extending/dashboards/ -->
<!-- https://our.umbraco.org/documentation/Reference/Config/dashboard/ -->

<script>
    function ImportEditController($scope, $routeParams) {
        $scope.content = { tabs: [{ id: 1, label: "Step 1" }, { id: 2, label: "Step 2" }, { id: 3, label: "Step 3" }, { id: 4, label: "Step 4" }] };

        $scope.Import = function (type) {
            console.log("This will be the export function for " + type + " files.");
        }
        $scope.EditMode = function () {
            return $routeParams.create == 'true';
        };
    }
</script>

<div ng-controller="ImportEditController">

    <umb-panel>
        <umb-header tabs="content.tabs">
            <div class="umb-headline-editor-wrapper span12 ng-scope">
                <h1 class="ng-binding">Import {{id}}</h1>
            </div>
        </umb-header>
        <umb-tab-view>

            <umb-tab id="tab1">
                <div class="umb-pane">
                    <h3>Upload a file</h3><br />
                    Import data by uploading a file<br /><br />
                    <input type="file" ng-model="file" umb-file-upload style="font-size:12px;line-height:1px;" /><br /><br />
                    <button type="button" class="btn umb-button__button btn-success umb-button--" ng-click="Import('XML')">Upload</button>
                    <p ng-show="EditMode()">
                        <span class="label label-warning">In create mode, this label is only showed when the controller sees the create-querystring item.</span>
                    </p>
                </div>
            </umb-tab>

            <umb-tab id="tab2">
                <div class="umb-pane">
                    <h3>Choose a document type</h3><br />
                    <p>Choose a parent page for the content</p>
                </div>
            </umb-tab>

            <umb-tab id="tab3">
                <div class="umb-pane">
                    <h3>Link the fields</h3><br />
                    <p>Link the fields of the imported file with the properties of the chosen document type</p><br /><br />
                    <table>
                        <tbody>
                            <tr>
                                <td><b>Page Title</b></td>
                                <td>
                                    <select style="margin-left:40px;">
                                        <option>EMPTY</option>
                                        <option>pagina_titel</option>
                                        <option>inhoud</option>
                                        <option>seo_beschrijving</option>
                                        <option>seo_tags</option>
                                        <option>verberg_van_navigatie</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Content</b></td>
                                <td>
                                    <select style="margin-left:40px;">
                                        <option>EMPTY</option>
                                        <option>pagina_titel</option>
                                        <option>inhoud</option>
                                        <option>seo_beschrijving</option>
                                        <option>seo_tags</option>
                                        <option>verberg_van_navigatie</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Description</b></td>
                                <td>
                                    <select style="margin-left:40px;">
                                        <option>EMPTY</option>
                                        <option>pagina_titel</option>
                                        <option>inhoud</option>
                                        <option>seo_beschrijving</option>
                                        <option>seo_tags</option>
                                        <option>verberg_van_navigatie</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Keywords</b></td>
                                <td>
                                    <select style="margin-left:40px;">
                                        <option>EMPTY</option>
                                        <option>pagina_titel</option>
                                        <option>inhoud</option>
                                        <option>seo_beschrijving</option>
                                        <option>seo_tags</option>
                                        <option>verberg_van_navigatie</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Hide in Navigation</b></td>
                                <td>
                                    <select style="margin-left:40px;">
                                        <option>EMPTY</option>
                                        <option>pagina_titel</option>
                                        <option>inhoud</option>
                                        <option>seo_beschrijving</option>
                                        <option>seo_tags</option>
                                        <option>verberg_van_navigatie</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table><br /><br />
                    <button type="button" class="btn umb-button__button btn-success umb-button--">Start Importing</button>
                </div>
            </umb-tab>

            <umb-tab id="tab4">
                <div class="umb-pane">
                    <p class="alert alert-block alert-success umb-notifications__notification animated -half-second fadeIn" style="border-radius:6px;">
                        Successfully imported the content!
                    </p><br />
                    <h3>Upload a file</h3><br />
                    Import data by uploading a file<br /><br />
                    <input type="file" umb-file-upload style="font-size:12px;line-height:1px;" /><br /><br />
                    <button type="button" class="btn umb-button__button btn-success umb-button--">Upload</button>
                </div>
            </umb-tab>

        </umb-tab-view>
    </umb-panel>

</div>